/* HTML element resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-roboto);
}

img {
    user-select: none;
}

/* Hide arrows/spinners on input[type=number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
